body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    /* Colourful Gradient Background */
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-container {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    /* Frosted Glass Effect */
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    width: 350px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    text-align: center;
}

.feed-container {
    width: 400px;
    height: 90vh;
    overflow-y: scroll;
}

input,
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}

button {
    background: #ff4757;
    /* TikTok Red/Pink */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff6b81;
    transform: scale(1.05);
}

.video-card {
    background: white;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

video {
    width: 100%;
    border-radius: 10px;
}