<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>

<body>
    <div class="glass-container">
        <h1>TokClone</h1>
        <p>Scalable Video App</p>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login / Register</button>
        </form>
    </div>
</body>

</html>